<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title> cookie store </title>
</head>
<body>
    <div class="order">
        <a class="username"> <%= username %>, your order was placed!</a>
        <a class="username"> order id: <%= orderID %> </a>
        <form method="get" action="https://localhost:1024/">
            <button class="logo">
              go back
            </button>
        </form>
    </div>
</body>
